

@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  }




#header1 {
    font-family: poppins;
    
}


.box{
   margin: auto;
    width: 50%;
    text-align: center;
}