

@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  }


  :root{
      --p1: #ffd7d7
      --p2: #f0a6a6
      --p3: #ff708b
      --p4: #cd5981
      --lightp: #ebcbeb
  }


body{
      background-color: #f0a6a6;
  }


  #button{
      background-color: #ffd7d7;
      margin-top: 20px;
  }


#header1 {
    font-family: poppins;
    margin: 0em;
}


.box{
   margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    background-color: #ffd7d7;
}

#field{
    font-family: poppins;
    padding: 10px;
    background-color: #ebcbeb;
    border-style: solid;
    border-width: 2px;
    border-color: #f0a6a6;
    border-radius: 10px;
}
